<!-- Esto es una barra de navegacion. -->
<nav>
    <a href="{{ path('home') }}">Inicio</a>
    <a href="{{ path('coches_list') }}">Listado coches</a>
    <a href="{{ path('marcas_list') }}">Listado marcas</a>
</nav>
