{% extends 'base.html.twig' %}
{% block title %}CRUD{% endblock %}
{% block body %}
    <!-- Header -->
    <div>
        <h3>Crud de coches y marcas</h3>
        <hr>
        <p> Practica de CRUD de coches/marcas , esta es la pagina de inicio </p>
        <p> Esta practica esta desplegada desde un contenedor Docker con Apache 2 instalado en Debian. </p>
    </div>
{% endblock %}

